:root {
    --primary : #232e86;
    --bg : #10cadf;
}

/* Simbol *Bintanng* = All Selector */
*{
    /* margin & padding = Reset*/
    margin: 0;
    padding: 0;
    /* mengatur dimensi dari element ketika di kasih padding/border */
    box-sizing: border-box;
    /* outline/border : none = berguna ketika mengasih fomr/button/border*/
    outline: none;
    border: none;
    /* agar tidak ada garis bawah ketika membuat link <a>*/
    text-decoration: none;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: var(--bg);
    color: #fff; /* Warna Tulisan*/
}

/*Navbar Top*/
.navbar{
    /*felx agar content nys sejajar*/
    display: flex;
    /*justify space-between = agar content sejajar secara Horiizontal*/
    justify-content: space-between;
    /* align-items: center = agar content sejajar secara Vertical*/
    align-items: center;
    /* 1x16 Pixel untuk atas bawah dan 7% untuk responsif ketika layar kecil*/
    padding: 1rem 7%;
    background-color: rgb(63, 102, 185);
    border-bottom: 1px solid var(--primary);
    /*Agar tetap berada di atas*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
} 

/*Logo Navbar*/
.navbar .navbar-logo{
    font-size: 1.4rem;
    /*Font BOLD*/
    font-weight: 700; 
    color: #fff;
    font-style: italic;
}

/*Logo Atribute Span*/
.navbar .navbar-logo span{
    color: red;
}

/*Atribute a(Inline) Tidak dapat di kasih margin jadi menggunakan display = inline*/
.navbar .navbar-nav a{
    color: #fff;
    display: inline-block;
    font-size: 1.2rem;
    /* bilangan pertama Margin untuk Atas & Bawah 
       bilangan ke-dua Margin untuk Kanan & Kiri*/
    margin: 0 1rem;
}

/*Hover untuk merubah warna ketika di klik pada content*/
.navbar .navbar-nav a:hover{
    color: var(--bg);
}

/*Membaut Garis Bawah pada menu*/
.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-top : 0.1rem solid var(--primary);
    transform: scaleX(0);
}

/*Menampilkan Garis bawah pada menu a::after*/
.navbar .navbar-nav a:hover::after{
    transform: scaleX(1);
    transition: 0.2s linear;
}


/*Style Icon search */
.navbar .navbar-icon a{
    color: #fff;
    display: inline-block;
    margin: 0 1rem;
}

/*Disable menu dashboard*/
#menu {
    display: none;
}

/* Scren Laptop*/
@media (max-width: 1366px) {
    html{
        font-size: 85%;
    }
}

/* Scren Tablet*/
@media (max-width: 768px) {
    html{
        font-size: 62%;
    }
    #menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgb(242, 248, 248);
        width: 25rem;
        height: 100vh;
    }
    
    .navbar .navbar-nav.active{
        right: 0%;
    }
    

}


/* Scren Handphone*/
@media (max-width: 450px) {
    html{
        font-size: 50%;
    }
    #menu {
        display: inline-block;
    }
}

/*Navbar Left*/
 .navbar-left {
    display: inline-block;
    position: absolute;
    top: 0%;
    background-color: rgb(242, 248, 248);
    width: 25rem;
    height: 100vh;
}

/* Navbar icon */
.navbar-left  .navbar-icon  {
    width: 20rem;
    height: 8rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-icon  img{
    width: 30%;
    margin: 5px;
}

.navbar-icon .text{
    font-size: 1rem;
    margin: 1rem;
}

.navbar-icon .text h3{
    color: rgb(0, 26, 255);
    font-family: sans-serif;
}

.navbar-icon .text p{
    color: rgb(255, 0, 0);
}

.navbar-left .desc p{
    color: #232e86;
}


  
.desc {
    margin-left: 2rem;   
}

.desc h3 {
    color: #232e86;   
}

.desc th {
    color: #000000;
    padding-right: 5rem;   
}

.desc td {
    color: #000000;   
}