:root {
    --primary : #232e86;
    --bg : #10cadf;
}

/* Simbol *Bintanng* = All Selector */
*{
    /* margin & padding = Reset*/
    margin: 0;
    padding: 0;
    /* mengatur dimensi dari element ketika di kasih padding/border */
    box-sizing: border-box;
    /* outline/border : none = berguna ketika mengasih fomr/button/border*/
    outline: none;
    border: none;
    /* agar tidak ada garis bawah ketika membuat link <a>*/
    text-decoration: none;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: var(--bg);
    color: #fff; /* Warna Tulisan*/
}

/*Navbar Top*/
.navbar{
    /*felx agar content nys sejajar*/
    display: flex;
    /*justify space-between = agar content sejajar secara Horiizontal*/
    justify-content: space-between;
    /* align-items: center = agar content sejajar secara Vertical*/
    align-items: center;
    /* 1x16 Pixel untuk atas bawah dan 7% untuk responsif ketika layar kecil*/
    padding: 1rem 7%;
    background-color: rgba(139, 111, 111, 0.674);
    border-bottom: 1px solid var(--primary);
    /*Agar tetap berada di atas*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
} 

/*Logo Navbar*/
.navbar .navbar-logo{
    font-size: 1.4rem;
    /*Font BOLD*/
    font-weight: 700; 
    color: #fff;
    font-style: italic;
}

/*Logo Atribute Span*/
.navbar .navbar-logo span{
    color: red;
}

/*Atribute a(Inline) Tidak dapat di kasih margin jadi menggunakan display = inline*/
.navbar .navbar-nav a{
    color: #fff;
    display: inline-block;
    font-size: 1.2rem;
    /* bilangan pertama Margin untuk Atas & Bawah 
       bilangan ke-dua Margin untuk Kanan & Kiri*/
    margin: 0 1rem;
}

/*Hover untuk merubah warna ketika di klik pada content*/
.navbar .navbar-nav a:hover{
    color: var(--bg);
}

/*Membaut Garis Bawah pada menu*/
.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-top : 0.1rem solid var(--primary);
    transform: scaleX(0);
}

/*Menampilkan Garis bawah pada menu a::after*/
.navbar .navbar-nav a:hover::after{
    transform: scaleX(1);
    transition: 0.2s linear;
}


/*Style Icon search */
.navbar .navbar-icon a{
    color: #fff;
    display: inline-block;
    margin: 0 1rem;
}



/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  